<div class = "container-fluid">
<h1>Home Page</h1>

<label>Search</label>
<input ng-model="holder"  type="text"/>
<br>

<ul>
  <li ng-repeat="car in vm.cars | filter:{ShortDescription:holder} | filter:{CarMakeId: select}">
  <a role = "button" ng-click = "vm.showModal(car)">{{car.ShortDescription}}</a>
</li>
</ul>

<select ng-model="select" ng-change="">
  <option style = "display:none"> -- select an option -- </option>
  <option ng-repeat="make in vm.makes" value="{{make.id}}">{{make.name}}</option>
</select>
</div>
